# H1: Data Science Tools and Ecosystem

** Introduction**
  
In this notebook, Data Science Tools and Ecosystem are summarized.

**Data science languages**

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Spark
4. Apache

**Data science librairies**
Some of the commonly used libraries used by Data Scientists include:
1-caret
2-Scikit-learn
3-Pandas
4-Numpy
5-Keras
6-Networkx

**Objectives**

- data science tools
- data science librairies
- data science languages

**Data Science Tools**

| Data Science Tools |
|--------------------|
|Apache Spark|
|Apache Hyve|
|IBM cognos|
|Jupyter Notebook|

### H3: Arithmetic expression examples

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
time_min=200
time_h=time_min/60
print(round(time_h,2))

3.33

## Author
Vignon VIGNIGBE